{% extends 'base.html' %}
{% load static %}
{% block title %}Projects{% endblock %}
{% block content %}
<section id="main">
    <div class="text-center align-middle projectsTitleContainer">
        <h1 class="projectsTitle">Projects</h1>
    </div>
    <div class="projectsContainer">
        <div class="row card-deck">
            <div class="card projectCard">
                <img src="{% static 'images/nutritionCalc.png' %}" class="card-img-top" alt="Nutrition Calculator" onclick="projectCards(event)" id="project1">
                <div class="card-body">
                    <h4 class="card-title">Nutrition Calculator</h4>
                    <hr>
                    <p class="card-text">
                        Nutrition Calculator was build using
                        Python and the Django framework. It
                        uses an API with through
                        <a href="https://www.nutritionix.com/"><span class="linkLayout">nutritionix.com</span></a>
                        to find the nutrition facts for the
                        specific food searched.
                    </p>
                </div>
                <div class="pillContainer card-footer">
                    <span class="badge badge-pill badge-python">Python</span>
                    <span class="badge badge-pill badge-primary">Django</span>
                    <span class="badge badge-pill badge-api">API</span>
                    <span class="badge badge-pill badge-HTML">HTML</span>
                    <span class="badge badge-pill badge-primary">CSS</span>
                    <span class="badge badge-pill badge-primary">SQLite</span>
                </div>
            </div>
            <div class="card projectCard">
                <img src="{% static 'images/TheaterVertigo.png' %}" class="card-img-top" alt="Theater Vertigo" onclick="projectCards(event)" id="project2">
                <div class="card-body">
                    <h4 class="card-title">Theater Site</h4>
                    <hr>
                    <p class="card-text">
                        This project focused on backend.
                        utilizing C# and the ASP.NET
                        MVC framework, along with razor
                        syntax helped create more dynamic
                        web applications
                    </p>
                </div>
                <div class="pillContainer card-footer">
                    <span class="badge badge-pill badge-cSharp">C#</span>
                    <span class="badge badge-pill badge-net">.NET</span>
                    <span class="badge badge-pill badge-success">SQL Server</span>
                    <span class="badge badge-pill badge-HTML">HTML</span>
                    <span class="badge badge-pill badge-primary">CSS</span>
                    <span class="badge badge-pill badge-razor">Razor Syntax</span>
                </div>
            </div>
            <div class="card projectCard">
                <img src="" class="card-img-top tempPic" alt="" onclick="projectCards(event)" id="project3">
                <h3>Coming Soon</h3>
                <div class="card-body">
                    <h4 class="card-title">Pong Game</h4>
                    <hr>
                    <p class="card-text">
                        JavaScript Game
                    </p>
                </div>
                <div class="pillContainer card-footer">
                    <span class="badge badge-pill badge-warning">JavaScript</span>
                    <span class="badge badge-pill badge-OOP">OOP</span>
                    <span class="badge badge-pill badge-HTML">HTML</span>
                    <span class="badge badge-pill badge-primary">CSS</span>
                </div>
            </div>
        </div>
    </div>
    <!-- Start of modals -->
    <div class="modal" id="modal1">
        <div class="modal-content">
            <span class="close" onclick="close1()">&times;</span>
            <img src="{% static 'images/nutritionCalc.png' %}" alt="Nutrition Calculator">
            <div class="modal-body">
                <p>
                    Nutrition is a big part of my life, so
                    creating a way to track the macronutrients or "macros"
                    throughout the day is a must to achieve goals.
                    Click "Learn more" to read more about
                    the project on my Github.
                </p>
            </div>
            <div class="modal-footer">
                <a href="https://github.com/hackwithcameron/DjangoLiveProject/blob/master/README.md" target="_blank" type="button" class="btn buttonLayout">Learn more</a>
            </div>
        </div>
    </div>
    <div class="modal" id="modal2">
        <div class="modal-content">
            <span class="close" onclick="close1()">&times;</span>
            <img src="{% static 'images/TheaterVertigo.png' %}" alt="Theater Vertigo">
            <div class="modal-body">
                <p>
                    This project was created during my
                    internship with Prosper IT Consulting.
                    Click "Learn more" to read more about
                    the project on my Github.
                </p>
            </div>
            <div class="modal-footer">
                <a href="https://github.com/hackwithcameron/CSharpLiveProject/blob/master/README.md" target="_blank" type="button" class="btn buttonLayout">Learn more</a>
            </div>
        </div>
    </div>
    <div class="modal" id="modal3">
        <div class="modal-content">
            <span class="close" onclick="close1()">&times;</span>
            <h1 class="p-5 text-center">Coming Soon</h1>
        </div>
    </div>
</section>

{% endblock %}
