{% extends 'base.html' %}
{% load static %}
{% block title %}Projects{% endblock %}
{% block content %}
<section id="main">
    <div class="fluid-container projectContainer">
        <div class="row projectRow">
            <div class="col-md-6 projectLeft">
                <img src="{% static 'images/nutritionCalc.png' %}">
            </div>
            <div class="row aboutRow">
                <div class="col-md-4 aboutText">
                    about text fjdksjaf hdksf dsafd
                    fjdkshf kjdsah fjdsa kjfdksajf
                    jkfdhjk safhdj kshaf jds afk ds
                    fjkdshafjk dsaj kfdhsjksf hdkjsaf
                    jfkdshfjk djfdsaf
                </div>
            </div>
        </div>
        <div class="row projectRow">
            <div class="aboutRow">
                <div class="col-md-4 aboutText">
                    about text fjdksjaf hdksf dsafd
                    fjdkshf kjdsah fjdsa kjfdksajf
                    jkfdhjk safhdj kshaf jds afk ds
                    fjkdshafjk dsaj kfdhsjksf hdkjsaf
                    jfkdshfjk djfdsaf
                </div>
            </div>
            <div class="col-md-6 projectRight">
                <h1>Project two</h1>
            </div>
        </div>
        <div class="row projectRow">
            <div class="col-md-6 projectLeft">
                <h1>Project three</h1>
            </div>
            <div class="row aboutRow">
                <div class="col-md-4 aboutText">
                    about text fjdksjaf hdksf dsafd
                    fjdkshf kjdsah fjdsa kjfdksajf
                    jkfdhjk safhdj kshaf jds afk ds
                    fjkdshafjk dsaj kfdhsjksf hdkjsaf
                    jfkdshfjk djfdsaf
                </div>
            </div>
        </div>
    </div>

</section>

{% endblock %}
