{% extends 'base.html' %}
{% load static %}
{% block title %}Home{% endblock %}
{% block content %}
<section id="main">
    <!-- Top Background image -->
    <div id="background">
        <img src="{% static 'images/background2.jpg' %}" alt="background">
        <div id="name">
            <div class="row">
                <h1><span class="logo_text">&lt;/&gt;</span>Cameron Hackwith</h1>
            </div>
            <hr/>
            <p class="headerDescription">
                Full Stack Developer<span class="logo_text dot">&bull;</span>Based in Portland, Oregon
            </p>
            <ul class="logo-box topLinks">
                <li>
                    <a href="https://www.linkedin.com/in/cameronhackwith/"><i class="fa fa-2x fa-linkedin-square"></i></a>
                </li>
                <li>
                    <a href="https://github.com/hackwithcameron"><i class="fa fa-2x fa-github"></i></a>
                </li>
                <li>
                    <a href="{% url 'Contact:contact' %}"><i class="fa fa-2x fa-envelope"></i></a>
                </li>
            </ul>
        </div>
    </div>

    <!-- Front and back end Development Cards -->
    <div class="container-fluid" id="bottom">
        <div class="clip" id="gradient"></div>
        <div class="clip2" id="gradient2"></div>
        <div id="bottomContainer">
            <div class="row justify-content-center no-gutters" id="cardContainer">
                <div class="col-md-3 cardHover">
                    <div class="card development">
                        <img class="card-image front_end" src="{% static 'images/Front-End.png' %}" alt="Front-End">
                        <h2 class="card-header text-center">
                            Front-End
                        </h2>
                        <div class="card-body cardList">
                            <list class="">
                                <li>HTML5</li>
                                <li>CSS3</li>
                                <li>JavaScript</li>
                                <li>Bootstrap</li>
                            </list>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 offset-md-2 cardHover">
                    <div class="card development">
                        <img class="card-image back_end" src="{% static 'images/Back-End.png' %}" alt="Back-End">
                        <h2 class="card-header text-center">
                            Back-End
                        </h2>
                        <div class="card-body cardList">
                            <list>
                                <li>Python</li>
                                <li>C#</li>
                                <li>SQLite</li>
                                <li>SQL Server</li>
                            </list>
                        </div>
                    </div>
                </div>
            </div>


            <div class="row" id="about">
                <div id="aboutContainer">
                    <div class="row">
                        <h1 class="col-md-1" id="aboutLabel">About</h1>
                    </div>
                    <div class="row justify-content-center">
                        <div class="col-md-6 aboutPicContainer">
                            <img src="{% static 'images/ProfilePicture.jpg' %}" class="profilepic" alt="Picture">
                        </div>
                        <div class="col-md-5 aboutText-container">
                            <p id="aboutText">
                                Full-Stack Developer, creating usable and innovative
                                code for all aspects of development and technology.
                                Trained and experienced in working with both front-end
                                and back-end software programming. From building API's
                                to creating dynamic front-end designs I enjoy all
                                aspects of the development process.
                                <br>
                                <a class="btn buttonLayout aboutButton" type="button" href="{% url 'Contact:contact' %}">Work With Me  <i class="fa fa-arrow-right"></i></a>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


{% endblock %}