{% extends 'base.html' %}
{% load static %}
{% block title %}Contact Me{% endblock %}
{% block content %}
<section id="main">
    <div class="justify-content-center">
        <div class="contactBackground"></div>
        <div class="jumbotronSection">
            <div class="jumbotron mx-auto" id="success">
                <div class="display-4 text-center border-bottom">
                    <h3>Thank You!</h3>
                </div>
                <div class="text-center">
                    <p>I will be in contact with you soon!</p>
                </div>
                <div class="successButtonContainer">
                    <a href="{% url 'HomePage:index' %}" type="btn" class="btn buttonLayout successButton">Home</a>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}