<section>
    <footer>
        <div class="container-fluid footer">
            <div class="row align-items-center">
                <div class="logo-box col">
                    <ul>
                        <li>
                            <a href="https://www.linkedin.com/in/cameronhackwith/"><i class="fa fa-2x fa-linkedin-square"></i></a>
                        </li>
                        <li>
                            <a href="https://github.com/hackwithcameron"><i class="fa fa-2x fa-github"></i></a>
                        </li>
                        <li>
                            <a href="{% url 'Contact:contact' %}"><i class="fa fa-2x fa-envelope"></i></a>
                        </li>
                    </ul>
                </div>
                <div id="footer-name col">
                    <p>Cameron Hackwith | 2020</p>
                </div>
                <div class="col"></div>
            </div>
        </div>
    </footer>
</section>