{% load static %}
<section>
    <div class="container nav-container" id="nav-container">
        <nav class="navbar justify-content-end" id="navBar">
            <a href="{% url 'HomePage:index' %}" class="brandName">Cameron Hackwith</a>
            <ul class="navItems">
                <li class="nav-item active">
                    <a class="nav-link" href="{% url 'HomePage:index' %}"><i class="fa fa-fw fa-home"></i>Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'Projects:projects' %}"><i class="fa fa-fw fa-laptop"></i>Projects</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/#aboutLabel"><i class="fa fa-fw fa-user"></i>About</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'Contact:contact' %}"><i class="fa fa-fw fa-envelope"></i>Contact</a>
                </li>
            </ul>
        </nav>
    </div>
</section>