{% extends 'base.html' %}
{% load static %}
{% block title %}Page not found{% endblock %}
{% block content %}
<section id="errorPage">
    <div class="contactBackground"></div>
    <div class="errorCard">
        <div class="card">
            <div class="card-body">
                <h1 class="card-title">Sorry, there is nothing here!</h1>
                <a href="{% url 'HomePage:index' %}" class="btn buttonLayout"><i class="fa fa-arrow-left"></i>  Home</a>
            </div>
        </div>
    </div>

</section>

{% endblock %}